div.fixed {
  position: fixed;
  bottom: 200;
  right: 200;
  width: 300px;
  border: 3px solid rgb(250, 159, 24);
}

div.relative {
  position: relative;
  left: 300px;
  top: 2000px;
  border: 3px solid #73AD21;
}

#text {
  float: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#text2 {
  float: right;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}